!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style2.css')
    link(rel="stylesheet", href="javascripts/dijit/themes/soria/soria.css")
    script(src="javascripts/dojo/dojo.js", type="text/javascript", djConfig="parseOnLoad: true")
  body(class="soria")!= body
