body {
  font-family: "Helvetica Neue", "Lucida Grande", "Arial";
  font-size: 13px;
  text-align: center;
  text-stroke: 1px rgba(255,255,255,0.1);
  color: #555;
}
h1,
h2 {
  margin: 0;
  font-size: 22px;
  color: #343434;
}
h1 {
  text-shadow: 1px 2px 2px #ddd;
  font-size: 40px;
}
#tasks {
  text-align: left;
  width: 90%;
}
#tasks .task {
  margin: 20px;
  border:1px solid #a1a1a1;
  padding: 5px 5px; 
  width:100%;
  border-radius:10px;
  -moz-border-radius:10px; /* Firefox 3.6 and earlier */
}
#tasks .task .title {
  align:left;
  font-weight: bold;
  text-decoration: underline;
  background-color: #eee;
}
#completed {
  text-align: left;
  width: 90%;
}
#completed .complete {
    margin: 20px;
  border:1px solid #a1a1a1;
  padding: 12px 5px; 
  width:100%;
  border-radius:10px;
  -moz-border-radius:10px; /* Firefox 3.6 and earlier */
}
#completed .complete .title {
  font-weight: bold;
  text-decoration: underline;
  background-color: #eee;
}
#createTitlePane,#pendingTitlePane,#completeTitlePane {
    width: 800px;
}
